@model IEnumerable<QLNS.Model.Hopdong>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>

    @*<a asp-action="Create">Create nè </a>*@
    @Html.ActionLink("Create nè", "Create", "HopDong")
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sohopdong)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ten)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Noidung)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ngaylap)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dateadd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Useradd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dateedit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Useredit)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sohopdong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Noidung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaylap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dateadd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Useradd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dateedit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Useredit)
            </td>
            <td>
               
             
                @Html.ActionLink("Edit", "Update", new { id = item.Id }) |
                @Html.ActionLink("Details", "Get", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
